<div class="background container center">
  <H1>Here are the available slots for the meeting: <%= @event.name %></H1>

  <div class="timeslotscontainer">
    <h2><b><%= @event.slots.first.start_time.to_datetime.strftime("%B %d") %></b></h2>
    <% @event.slots.each do |slot| %>
      <%= simple_form_for(slot) do |f| %>
        <%= f.input :start_time, :as => :hidden %>
        <%= f.input :end_time, :as => :hidden %>
        <%= f.submit "#{slot.start_time.to_datetime.strftime('%d %B')} @@@ START: #{slot.start_time.to_datetime.strftime('%H:%M')} - END: #{slot.end_time.to_datetime.strftime('%H:%M')}", class: "timeslot" %>
      <% end %>
    <% end %>
  </div>

</div>
