<div class=index-container>
  <div class=mymeetings-container>
    <H2>Meetings I have created</H2> <br>
    <ul>
      <% if current_user.events.length != 0 %>
        <% current_user.events.each do |event| %>
          <li>Meeting: <%= event.name %>
              - description: <%= event.description %>
              - duration: <%= event.duration %> min
              - start: <%= event.start_time %>
              - end: <%= event.end_time %>
              - created by: <%= event.user.first_name %>
              - attendees: <% event.user_events.each do |user| %>
              <%= user.user.first_name %>
              <% end %>
              <%= link_to "Edit", edit_user_event_path(current_user, event) %>
              <%= link_to "Delete", event_path(event),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
              <%= link_to "Available slots for this meeting", event_slots_path(event) %></li>
        <% end %>
      <% else %>
        <%= "You haven't created any meeting yet" %>
      <% end %>
    </ul>
    <div class= invitemeeting-container> <br>
      <H2>Meetings I've been invited to</H2>
      <ul>
        <% current_user.user_events.each do |user_event| %>
          <li>Meeting: <%= user_event.event.name %>
            - description: <%= user_event.event.description %>
            - duration: <%= user_event.event.duration %> min
            - start: <%= user_event.event.start_time %>
            - end: <%= user_event.event.end_time %>
            - created by: <%= user_event.event.user.first_name %></li>
            - attendees: <% user_event.event.user_events.each do |user| %>
              <%= user.user.first_name %>
            <% end %>
            <br>
        <% end %>
      </ul>
    </div>
  </div>
</div>
