<div class="background">
  <div class="dashboard-container">
    <div class="navigation" data-controller="sidebar" data-action="click->sidebar#active">
      <div class="avatar-picture">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face %>
        <% else %>
          <%= image_tag "avatar_default.png" %>
        <% end %>
      </div>
      <div class="text">
        <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
        <p><%= "My team: #{current_user.company}" %></p>
      </div>
      <ul>
        <li class="list" data-sidebar-target="list">
          <b></b>
          <b></b>
          <%= link_to "/dashboard" do %>
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="title">Calendar</span>
          <% end %>
        </li>
        <li class="list" data-sidebar-target="list">
          <b></b>
          <b></b>
          <%= link_to "/events" do %>
            <span class="icon">
              <ion-icon name="time-outline"></ion-icon>
            </span>
            <span class="title">My meetings</span>
          <% end %>
        </li>
        <li class="list" data-sidebar-target="list">
          <b></b>
          <b></b>
          <%= link_to "/users/edit" do %>
            <span class="icon">
              <ion-icon name="settings-outline"></ion-icon>
            </span>
            <span class="title">Setting</span>
          <% end %>
        </li>
        <li class="list" data-sidebar-target="list">
          <b></b>
          <b></b>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <span class="icon">
              <ion-icon name="log-out-outline"></ion-icon>
            </span>
            <span class="title">Log out</span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="team-cards-wrapper">
      <div class="team-card">
        <div class="team-card-picture">
          <%= image_tag('picture-Arno.jpg') %>
        </div>
        <h1>Arno Debelle</h1>
        <p>Founder</p>
        <p>debelle.a@gmail.com</p>
      </div>
      <div class="team-card">
        <div class="team-card-picture">
          <%= image_tag('picture-Oleg.jpg') %>
        </div>
        <h1>Oleg Deru</h1>
        <p>Co-founder</p>
        <p>Olegderu98@gmail.com</p>
        <h2></h2>
      </div>
      <div class="team-card">
        <div class="team-card-picture">
          <%= image_tag('picture-Seba.jpg') %>
        </div>
        <h1>Sebastien Neyt</h1>
        <p>Co-founder</p>
        <p>bas_neyt@hotmail.com</p>
      </div>
      <div class="team-card">
        <div class="team-card-picture">
          <%= image_tag('picture-Anis.jpg') %>
        </div>
        <h1>Anis Samimi</h1>
        <p>Co-founder</p>
        <p>anis_samimi@hotmail.com</p>
      </div>
    </div>
  </div>
</div>
