<H1>Index Event page</H1>

<H2>Meetings I have created</H2>
<ul>
  <% if current_user.events.length != 0 %>
    <% current_user.events.each do |event| %>
      <li>Meeting: <%= event.description %>
          - duration: <%= event.duration %>
          - start: <%= event.start_at %>
          - end: <%= event.end_at %>
          - created by: <%= event.user.first_name %></li>
          - attendees: <% UserEvent.all.each do |user_event| %>
          <%= user_event.user.first_name %>
          <% end %>
    <% end %>
  <% else %>
    <%= "You didn't created any meeting yet" %>
  <% end %>
</ul>

<H2>Meetings I've been invited to</H2>
<ul>
  <% @events.each do |event| %>
    <% event.user_events.each do |user_event| %>
      <% if user_event.user == current_user %>
        <li>Meeting: <%= event.description %>
          - duration: <%= event.duration %>
          - start: <%= event.start_at %>
          - end: <%= event.end_at %>
          - created by: <%= event.user.first_name %></li>
          - attendees: <% event.user_events.each do |user| %>
          <%= user.user.first_name %>
          <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>


<%= link_to "Home", root_path %>
<%= link_to "New Event", new_user_event_path(current_user) %>
