<div class="background">
      <div class="dashboard-container">
        <div class="navigation" data-controller="sidebar" data-action="click->sidebar#active">
          <div class="avatar-picture">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face %>
            <% else %>
              <%= image_tag "avatar_default.png" %>
            <% end %>
          </div>
          <div class="text">
            <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
            <p><%= "My team: #{current_user.company}" %></p>
          </div>
          <ul>
            <li class="list" data-sidebar-target="list">
              <b></b>
              <b></b>
                <%= link_to "/dashboard" do %>
                    <span class="icon">
                      <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Calendar</span>
                <% end %>
            </li>
            <%# <li class="list" data-sidebar-target="list">
              <b></b>
              <b></b> %>
                <%#= link_to "/events" do %>
                    <%# <span class="icon">
                      <ion-icon name="time-outline"></ion-icon>
                    </span>
                    <span class="title">My meetings</span> %>
                <%# end %>
            <%# </li> %>
            <li class="list" data-sidebar-target="list">
              <b></b>
              <b></b>
                <%= link_to "/users/edit" do %>
                    <span class="icon">
                      <ion-icon name="settings-outline"></ion-icon>
                    </span>
                    <span class="title">Setting</span>
                <% end %>
            </li>
            <li class="list" data-sidebar-target="list">
              <b></b>
              <b></b>
                <%= link_to destroy_user_session_path, method: :delete do %>
                    <span class="icon">
                      <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Log out</span>
                <% end %>
            </li>
          </ul>
        </div>
        <div class="event-create-container">
          <div class="new-events">
            <H1>Create new meeting:</H1>
            <div class="event-container" data-controller="date">
              <%= simple_form_for([current_user, @event]) do |f| %>
                <div class=new-event-form>
                  <%= f.input :name, label: "Title"%>
                  <%= f.input :description %>
                  <%= f.input :duration, label: "Duration in min"%>
                  <%= f.input :start_time, as: :string, label: "Start", input_html: { id: "start_date", data: { 'date-target' => 'start' } } %>
                  <%= f.input :end_time, as: :string, label: "End", input_html: { id: "end_date", data: { 'date-target' => 'end' }} %>
                  <%= f.input :users, label: "Invitees", collection: @employees, label_method: :first_name, :as => :check_boxes, include_hidden: false %>
                  <%= f.submit "Create meeting", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
</div>
