<div class="background">
    <div class="dashboard-container">
      <div class="navigation" data-controller="sidebar" data-action="click->sidebar#active">
        <div class="avatar-picture">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face %>
          <% else %>
            <%= image_tag "avatar_default.png" %>
          <% end %>
        </div>
        <div class="text">
          <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
          <p><%= "My team: #{current_user.company}" %></p>
        </div>
        <ul>
          <li class="list" data-sidebar-target="list">
            <b></b>
            <b></b>
            <%= link_to "/dashboard" do %>
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Calendar</span>
            <% end %>
          </li>
          <%# <li class="list" data-sidebar-target="list">
            <b></b>
            <b></b> %>
              <%#= link_to "/events" do %>
                  <%# <span class="icon">
                    <ion-icon name="time-outline"></ion-icon>
                  </span>
                  <span class="title">My meetings</span> %>
              <%# end %>
          <%# </li> %>
          <li class="list" data-sidebar-target="list">
            <b></b>
            <b></b>
            <%= link_to "/users/edit" do %>
              <span class="icon">
                <ion-icon name="settings-outline"></ion-icon>
              </span>
              <span class="title">Setting</span>
            <% end %>
          </li>
          <li class="list" data-sidebar-target="list">
            <b></b>
            <b></b>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Log out</span>
            <% end %>
          </li>
        </ul>
      </div>
      <div class='calendar-border'>
        <div class="card-show">
            <div class="title">
              <H1><%= @event.name %></H1>
            </div>
            <div class="date">
              <span class="icon">
                <ion-icon name="time-outline"></ion-icon>
              </span>
              <p> <%= @event.start_time.strftime("%B %d, %Y")%> </p>
            </div>
            <div class="time">
              <H2> <%= @event.start_time.strftime("%H:%M")%>
                - <%= @event.end_time.strftime("%H:%M") %> </H2>
            </div>
            <div class="description">
              <span class="icon">
                <ion-icon name="list-outline"></ion-icon>
              </span>
              <p>
                <% if !@event.description? %>
                  Add description
                <% else %>
                <%= @event.description %>
                <% end %>
              </p>
            </div>
            <div class="attendees">
              <p>Attendees:</p>
              <ul>
                <% @event.user_events.each do |user| %>
                  <li><%= user.user.first_name %></li>
                <% end %>
              </ul>
            </div>
            <div class="organiser">
              <p>Organised by:
              <%= @event.user.first_name %></p>
            </div>
            <ul id="links">
              <li>
                <div class="link-icon">
                  <%= link_to edit_user_event_path(current_user, @event) do %>
                      <span class="icon">
                        <ion-icon name="create-outline"></ion-icon>
                      </span>
                  <% end %>
                </div>
                <div class="link-name">
                  <span class="link"> <%= link_to 'Edit', edit_user_event_path(current_user, @event)%> </span>
                </div>
              </li>
              <li>
                <div class="link-icon">
                  <%= link_to event_slots_path(@event) do %>
                    <span class="icon">
                      <ion-icon name="code-working-outline"></ion-icon>
                    </span>
                  <% end %>
                </div>
                <div class="link-name">
                  <span class="link"><%= link_to "Find a slot", event_slots_path(@event) %></span>
                </div>
              </li>
              <li>
                <div class="link-icon">
                  <%= link_to event_path(@event),
                                method: :delete,
                                data: { confirm: "Are you sure?" } do %>
                    <span class="icon">
                      <ion-icon name="trash-outline"></ion-icon>
                    </span>
                  <% end %>
                </div>
                <div>
                  <span class="link">
                    <%= link_to "Delete", event_path(@event),
                                method: :delete,
                                data: { confirm: "Are you sure?" } %>
                  </span>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
</div>
