<div class="Show-page">
  <H1>Show page meeting: <%= @event.name %></H1>

  <div class="show-container">
    <ul>
      Meeting: <%= @event.name %>
      <br>
      description: <%= @event.description %>
      <br>
      duration: <%= @event.duration %> min
      <br>
      start: <%= @event.start_time %>
      <br>
      end: <%= @event.end_time %>
      <br>
      created by: <%= @event.user.first_name %>
      <br>
      attendees: <% @event.user_events.each do |user| %>
          <%= user.user.first_name %>
        <% end %>
    </ul>
    <%= link_to "Edit", edit_user_event_path(current_user, @event) %>
    <%= link_to "Delete", event_path(@event),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    <%= link_to "Available slots for this meeting", event_slots_path(@event) %>
  </div>
</div>
