<div class="background">
  <div class="dashboard-container">
    <div class="profile-container">
      <h3><%= "Welcome to your dashboard #{current_user.first_name}!"%></h3>

      <div>
       <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face %>
      </div>

        <br>
        <div class="profile-text">
        <p><%= "Username: #{current_user.username}" %></p>
        <p><%= "Email: #{current_user.email}" %></p>
        <p><%= "Member since: #{current_user.created_at}" %></p>
        <a href="/users/edit" class="btn btn-primary">Edit profile</a>
        </div>
    </div>
  </div>

  <div class="container">
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
      <%#= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
        <%#= date %>
        <%# meetings.each do |meeting| %>
          <%# <div class="meeting"> %>
          <p><%#= meeting.name %></p>
          <%# </div> %>
        <%# end %>
      <%# end %>
  </div>
</div>
