<div class="container d-flex">
  <% @event_list.items.each do |event| %>
    <div class="event-example">
      <p><b>CREATOR:</b> <%= event.creator.email %></p>
      <p><b>DESCRIPTION</b>: <%= event.summary %></p>
      <p><b>START:</b>: <%= event.start.date_time%></p>
      <p><b>END:</b>: <%= event.end.date_time%></p>
      <p><b>DURATION:</b>: <%= (event.end.date_time.to_i - event.start.date_time.to_i) / 60 %> min</p>
    </div>
  <% end %>
<br>
<%# <% binding.pry %>

  <% @event_list2.items.each do |event| %>
    <div class="event-example">
      <p><b>CREATOR:</b> <%= event.creator.email %></p>
      <p><b>DESCRIPTION</b>: <%= event.summary %></p>
      <p><b>START:</b>: <%= event.start.date_time%></p>
      <p><b>END:</b>: <%= event.end.date_time%></p>
      <p><b>DURATION:</b>: <%= (event.end.date_time.to_i - event.start.date_time.to_i) / 60 %> min</p>
    </div>
  <% end %>
</div>
