<div class="container">
  <h1>Here are the occupied timeslots</h1>
  <p>user1 : <%= @user1 %></p>
  <p>user2 : <%= @user2 %></p>
  <br>
  <p>Combined + refactored: <%= @x%></p>
  <p>Free time: <%= @free_time %></p>
<h2>Available TIMESLOTS: </h2>
  <% @timeslots.each do |slot| %>
    <p><%= slot[0].strftime('%H:%M') %> -- <%= slot[1].strftime('%H:%M') %></p>
  <% end %>
</div>
